// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';



body {
	min-height: 100vh;
	position: relative;
}

/* Keeping footer at bottom of the page, even if content is shorter */
main::after {
	content: "";
	padding-bottom: 5rem;
	display: inline-block;
}

footer {
	/* Keeping footer at bottom of the page, even if content is shorter */
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px 0;
	height: fit-content;

	display: flex;
	justify-content: center;
	align-items: center;
}



.cursor-pointer {
	cursor: pointer;
}

@include media-breakpoint-up(sm) {
	.rounded-sm {
		border-radius: 0.3em !important;
	}
	.px-sm-half-gutter {
		padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
		padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
	}
}



.accordion-natural .accordion-button:not(.collapse) {
	color: inherit;
	background-color: #e2e3e5;
}

.nav-tabs > .nav-item > .nav-link {
	color: $text-muted;
}
.nav-tabs > .nav-item > .nav-link.active{
	color: $dark;
}



#home .carousel-item img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	object-position: 50% 50%;
}


